input[type=text],
input[type=email],
input[type=number] {
    border-radius: 9px;
    width: 150%;
    height: 40px;
    border-color: aqua;
    text-align: center;
}

input[type=submit] {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    font-family: 'Sofia';
    border-radius: 10px;
    width: 100px;
    border-color: greenyellow;
    height: 40px;
}

body {
    background-image: linear-gradient(90deg, blue, rgb(255, 0, 119));
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-size: 30px; */
    color: rgb(255, 255, 255);
    font-weight: bold;
}

tr,
td {
    padding: 10px;
}

.bg-custom-2 {
    font-family: 'Adamina';
    background-image: linear-gradient(15deg, #b30000 10%, indigo 30%, white, yellow);
    color: white;
    font-size: 16px;
}